.hidden {
    display: none;
}

.rating-container {
    display: flex;
    flex-direction: column;
    width: toRem(412);
    height: auto;
    border-radius: toRem(30);
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    padding-top: toRem(32);
    padding-left: toRem(32);
    margin: toRem(195) auto;



    .rating-icon {
        background-color: $dark-blue;
        width: toRem(48);
        height: toRem(48);
        border-radius: 100%;

        img {
            margin: toRem(16) toRem(16);
        }
    }

    .rating-title {
        margin-top: toRem(30);

        h1 {
            color: #ffff;
            font-size: toRem(28);
            font-weight: 700;
        }


    }

    .rating-body {
        width: toRem(340);
        margin-top: toRem(18);

        p {
            font-weight: 400;
            font-size: toRem(15);
            line-height: toRem(24);
            color: $light-grey;
        }


    }

    .rating {
        display: inline-flex;
        justify-content: space-evenly;
        width: toRem(341);
        margin-top: toRem(24);

        button {
            cursor: pointer;
        }

        .rating-btn {
            border-radius: 100%;
            height: toRem(52);
            width: toRem(52);
            background-color: $dark-blue;
            border: none;
            color: $medium-grey;
            margin: toRem(6.6)
        }

        .submit-btn {
            width: toRem(341);
            height: toRem(45);
            margin-top: toRem(32);
            margin-bottom: toRem(32);
            border: none;
            background-color: $orange;
            color: $white;
            font-weight: 700;
            border-radius: toRem(22.5);
        }

        .rating-btn:hover {
            background-color: $orange;
            color: $white;
        }

        .rating-btn:focus {
            background-color: $light-grey;
            color: $white;

        }

        .rating-btn:active {
            background-color: $light-grey;
            color: $white;
        }


        .submit-btn:hover {
            background-color: $white;
            color: $orange;
        }

        p {
            text-align: center;
            color: red;
            font-weight: 400;
            margin-bottom: toRem(32)
        }

    }
}

@media only screen and (min-width: toRem(375)) {
    .rating-container {
        max-width: toRem(327);
        padding: toRem(24);
    }
}